* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #676FBE;
	color: #676FBE;
}

#imageHover {
	width: 160px;
	height: 160px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.playerImages {
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.cpuImages {
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.user {
	display: inline-block;
}

#cpuPaper {
	visibility: hidden;
}

#cpuRock {
	visibility: hidden;
}

#cpuScissors {
	visibility: hidden;
}

.selectedPlayerImages {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 105px;
	height: 105px;
	background-color: yellow;
}

p {
	font-size: 55px;
	color: black;
}

#time {
	color: black;
}

#show {
	visibility: visible;
}

.playerScoreBox {
    display:inline-block;
    position: absolute;
    margin: 5px;
    float:left;
    width: 50px;
    height:50px;
}

.cpuScoreBox {
   position: absolute;
   right: 2px;
}

#playerScore {
	color: #676FBE;
	vertical-align: middle;
}

#cpuScore {
	color: #676FBE;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #171717;
	margin: 0 auto;
}

.logo {
	text-align: center;
    padding-top: 5px;
}

#gameDescription {
  width: 100%;
  background-color: #171717;
  height: 115px;
  margin: 0 auto;
}

.instructions {
  text-align: center;
}

.instructions button{
  margin-top: 10px
}

#playerImgTable {
   display: flex;
   flex-direction: row;
   height: 180px;
}

#cpuImgTable {
   display: flex;
   flex-direction: row;
   height: 180px;
}

#1, #2, #3{
  display:flex;
  width: 10px;
}


#scoreBox {
  height: 80px;
}

#startButton {
  height: 30px;
  width: 105px;
  font-size: 19px;
}

#notifications {
  height: 100px;
}
